/* 
    --color-gray: #0F1119;
    --color-text-black: #202020;
    --color-text-white: #FFFFFF;
    --color-text-white-dark: #ecf3f3;
    --color-gray-light: #26272d;
    --effect-basic-light: rgba(1,1,1,1,0.2);
    --color-text-red: #FF0000;
    --color-text-red-dark: #d60000;
*/


/* Custom Bootstrap Colors */
:root {
    --bs-dark: #0F1119;
    /* Example custom dark color */
    --bs-primary: #007bff;
    /* Example custom primary color */
    --bs-secondary: #6c757d;
    /* Example custom secondary color */
    --bs-success: #28a745;
    /* Example custom success color */
    --bs-info: #17a2b8;
    /* Example custom info color */
    --bs-warning: #ffc107;
    /* Example custom warning color */
    --bs-danger: #dc3545;
    /* Example custom danger color */
    --bs-light: #f8f9fa;
    /* Example custom light color */
}

/* Override Bootstrap bg-dark class */
.bg-dark {
    background-color: var(--bs-dark) !important;
}

/* Additional custom styles can be added here */
body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    max-width: 100vw;
}

img {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

h2 {
    font-size: 36px;
}

h1 {
    font-size: 56px;
    text-align: center;
}

p {
    font-size: 24px;
    line-height: 1.5;
}

footer {
    min-height: 20vh;
}

a img {
    transition: opacity 0.3s ease;
}

a img:hover {
    opacity: 0.7;
}

#social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

#social a {
    width: 16%;
}

#social img {
    width: 100%;
}

#vvvLoading {
    width: 100%;
    height: 80vh;
    overflow: hidden;
    /* Ensure the image is only visible through the div */
    position: relative;
    z-index: 1;
    /* Ensure the div is above other content */
}

.parallax {
    width: 120%;
    height: auto;
    position: absolute;
    /* Use absolute positioning within the div */
    top: -600px;
    left: -10%;
}

.carousel-item {
    height: 30vh;
}

@media (max-width: 576px) {
    .parallax {
        width: 400%;
        left: -150%;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .parallax {
        width: 300%;
        left: -100%;
    }

    .carousel-item {
        height: 40vh;
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    .parallax {
        width: 220%;
        left: -60%;
    }

    .carousel-item {
        height: 50vh;
    }
}

@media (min-width: 1201px) {
    .carousel-item {
        height: 60vh;
    }
}
.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.v-shadow::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -1;
    border-radius: 70% / 100%;
    bottom: 20px;
}

.maxh-5 {
    max-height: 5vh;
    width: auto;
}

.maxh-10 {
    max-height: 10vh;
    width: auto;
}

.maxh-20 {
    max-height: 20vh;
    width: auto;
}

.maxh-30 {
    max-height: 30vh;
    width: auto;
}

.maxh-40 {
    max-height: 40vh;
    width: auto;
}

.maxh-50 {
    max-height: 50vh;
    width: auto;
}

.maxh-60 {
    max-height: 60vh;
    width: auto;
}

.maxh-70 {
    max-height: 70vh;
    width: auto;
}

.maxh-80 {
    max-height: 80vh;
    width: auto;
}

.maxh-90 {
    max-height: 90vh;
    width: auto;
}

.maxh-100 {
    max-height: 100vh;
    width: auto;
}

.maxw-12 {
    max-width: 12vw;
    height: auto;
}

.maxw-15 {
    max-width: 15vw;
    height: auto;
}

.maxw-20 {
    max-width: 20vw;
    height: auto;
}

.maxw-25 {
    max-width: 25vw;
    height: auto;
}

.maxw-33 {
    max-width: 33vw;
    height: auto;
}

.maxw-50 {
    max-width: 50vw;
    height: auto;
}

.maxw-75 {
    max-width: 75vw;
    height: auto;
}

.maxw-100 {
    max-width: 100vw;
    height: auto;
}

.card {
    border: none !important;
}

.bg-dark.text-white a {
    color: #fff;
    text-decoration: underline;
    transition: color 0.3s ease;
}

.bg-dark.text-white a:hover {
    color: #ddd;
}

/* Animation classes */
.anim-left {
    opacity: 0;
    transform: translateX(-400px);
    transition: all 1.2s ease-out;
}

.anim-left.active {
    opacity: 1;
    transform: translateX(0);
}

.anim-right {
    opacity: 0;
    transform: translateX(400px);
    transition: all 1.2s ease-out;
}

.anim-right.active {
    opacity: 1;
    transform: translateX(0);
}