:root {
    --color-gray: /*#333*/#0F1119;
    --color-text-black: #202020;
    --color-text-white: #FFFFFF;
    --color-text-white-dark: #ecf3f3;
    --color-gray-light: /*#444*/#26272d;
    --effect-basic-light: rgba(1,1,1,1,0.2);
    --color-text-red: #FF0000;
    --color-text-red-dark: #d60000;
}
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    max-width: 100%;
    color: var(--color-text-black);
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

.lock-scroll {
    position: fixed;
}

.highlighted-block
{
    margin: 0;
    background-color: var(--color-gray);
    color: var(--color-text-white);
}

.highlighted-block p
{
    color: var(--color-text-white);
    margin: 0;
    padding: 0.5em 1em;
}

.header {
    background-color: var(--color-gray);
    color: var(--color-text-white);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    box-sizing: border-box; /* Include padding in width calculation */
    /* background-image: url("https://d2w9rnfcy7mm78.cloudfront.net/9987911/original_026fc0b61e323aff95685b0331d518da.gif?1608653922");
    background-position: bottom;
    background-size: cover;
    width: 100vw;
    background-blend-mode: add; */    
}

.header p, .footer p {
    color: var(--color-text-white);
}

.anim-left, .anim-right {
    opacity: 0;
    transition: opacity 0.7s ease-out, transform 0.6s ease-out;
    will-change: opacity, transform;
}

.anim-left {
    transform: translateX(-100%);
}

.anim-right {
    transform: translateX(100%);
}

.anim-left.visible, .anim-right.visible {
    opacity: 1;
    transform: translateX(0);
}


.header.shrink {
    position: fixed;
    left: 50%;
    top: 0;
    /* height: 8vh; */
    transform: translateX(-50%);
}

.hidden {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    pointer-events: none;
}

#header-main
{
    flex-direction: row;
    transition: height 0.6s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
}

#header-top {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 40px;
    max-height: 80px;
    box-sizing: border-box; /* Include padding in width calculation */
}

#header-bottom {
    align-items: center;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: var(--color-gray-light);
}

#header-bottom p {
    margin: 1vh 0;
}

.footer {
    background-color: var(--color-gray);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    min-height: 20vh;
    position: relative;
    z-index: 1;
    padding-bottom: 100px;
    box-sizing: border-box; /* Include padding in width calculation */
}

.footer > * {
    flex-grow: 1;
    margin: 0 0 20px 0;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    color: #cbffff;
    text-decoration: underline;
}

.navbar a:hover {
    color: #cbffff;
    text-decoration: underline;
}

a {
    text-decoration: none;
}

.spread
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.center-spread
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.footer-text {
    width: 100%;
    text-align: center;
}

.logo img {
    height: 40px;
}

.navbar a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

.hero {
    height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    display: flex;
}

.hero img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.game-logo {
    position: fixed;
    top: 100px; /* Adjusts the logo 100px below the header */
    right: 2%; /* Aligns the logo to the right */
    transition: opacity 0.8s ease-in-out;
}

.game-logo img {
    height: 100px; /* Adjust the size of the game logo as needed */
}

h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

h1 {
    font-size: 56px;
    margin-bottom: 10px;
    margin-top: 0;
}

p {
    font-size: 24px;
    line-height: 1.5;
    color: var(--color-text-black);
}

.title
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.simple {
    margin-top: 40px;
    max-width: 100%;
}

.maxwidth {
    max-width: 100%;
}

.double {
    display: flex;
    width: 100%;
    padding-top: 50px;
    margin-top: 40px;
    overflow: hidden;
}

.horizontal
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.shadow::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    width: 50%;
    background-color: rgba(0,0,0,0.2);
    z-index: -1;
    border-radius: 70% / 100%; /* elliptical shape */
    bottom: 20px;
}

.double-keep {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 6vw;
    margin-left: 6vw;
}

.double-push {
    flex: 1;
    display: flex;
    align-items: center;
}

.double-push img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#welcome_vvv
{
    margin-top: 4vh;
    padding-top: 4vh;
}

.list-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-start;
    text-align: left;
    width: 100%;
}

.list-container-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    color: var(--color-text-black);
    margin-bottom: 5vh;
    padding: 0 2vw;
}

.list-container-element img {
    height: 50vh;
    max-width: 100%;
    margin-bottom: 1em;
}

.top-image {
    max-height: 40vh;
    margin-right: 20px;
}

.round 
{
    border-radius: 50%;
}

.only-vertical
{
    display: none;
}
.only-horizontal
{
    display: block;
}
.leftrightimg
{
    height: 70vh;
    width: 100%;
    object-fit: cover;
}

.selectable
{
    pointer-events: auto;
}

.unselectable
{
    pointer-events: none;
}

.button
{
    padding: 10px 20px;
    border-radius: 10em;
    background-color: var(--color-text-white);
    font-size: 1.2em;
    font-weight: bold;
    color: var(--color-text-red);
    box-shadow: 0px 0px 0px 2px rgba(134, 134, 134, 0.8);
    cursor: pointer;
    transition: background-color 0.3s ease;
    transition: color 0.3s ease;
    transition: box-shadow 0.3s ease;
}

.button:hover {
    background-color: var(--color-text-white-dark);
    color: var(--color-text-red-dark);
    box-shadow: 0px 0px 8px 2px rgba(134, 134, 134, 0.8);
}


hr {
    border: none;
    height: 3px;
    background-color: var(--color-gray-light);
    margin: 0;
    width: 100%;
}

a img{
    transition: opacity 0.3s ease;
}

a img:hover{
    /*filter: invert(1) hue-rotate(180deg); */
    opacity: 0.7;
}

.gorillaTitle {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.jobDescription {
    margin-top: 0;
    padding-top: 0;
}

@media screen and (min-width: 768px) {
    .list-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .list-container-element {
        flex: 1 1 calc(30vw - 10vw); /* Adjusts element width */
        max-width: 45vw;
        min-width: 400px;
    }
}

@media screen and (max-aspect-ratio: 1.2) {
    .footer-text {
        width: 100%;
        text-align: left;
    }
    .center-spread
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .double {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 50px;        
        margin-top: 40px;
    }
    h1, h2 {
        text-align: center;
        margin-bottom: 10px;
    }

    h1 {
        font-size: 32px;
        margin-top: 0;
    }

    h2 {
        font-size: 24px;
    }
    
    p {
        font-size: 20px;
        line-height: 1.5;
    }

    #header-top p {        
        font-size: 14px;
        line-height: 1.5;
    }
    #header-top {
        display: none;
    }
    .header
    {
        box-sizing: border-box; /* Include padding and border in width calculation */
        margin-block: 0; /* Remove margin from top and bottom */
        padding-block: 0; /* Remove padding from top and bottom */
    } 
    .game-logo {
        position: fixed;
        top: 80vh; 
        right: 2%; /* Aligns the logo to the right */
        transition: opacity 0.8s ease-in-out;
        max-width: 100%;
    }
    #header-main
    {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        width: 100%;
    }
    #header-main h1,#header-main h2,#header-main h3,#header-main h4 {
        text-align: center;
        margin-bottom: 0px;
    }
    #header-main h1 {
        font-size: 48px;
    }
    #header-main h2 {
        font-size: 32px;
    }
    .only-vertical
    {
        display: block;
    }
    .only-horizontal
    {
        display: none;
    }
    .list-container {
        flex-direction: column;
    }

    .list-container-element {
        max-width: 100%;
        margin-bottom: 5vh;
    }
    .anim-right
    {
        margin-left: 10vw;
    }
}
