body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

.lock-scroll {
    position: fixed;
}

.header {
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    box-sizing: border-box; /* Include padding in width calculation */
}

.header.shrink {
    position: fixed;
    left: 50%;
    top: 0;
    /* height: 8vh; */
    transform: translateX(-50%);
}

.hidden {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    pointer-events: none; /* Ensures that the element is not interactive when hidden */
}

#header-main
{
    flex-direction: row;
    transition: height 0.6s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
}

#header-top {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 40px;
    max-height: 80px;
    box-sizing: border-box; /* Include padding in width calculation */
}

.footer {
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    height: 200px;
    position: relative;
    z-index: 1;
    padding-bottom: 100px;
    box-sizing: border-box; /* Include padding in width calculation */
}

.footer > * {
    flex-grow: 1;
    margin: 0 0 20px 0;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    color: #cbffff;
    text-decoration: underline;
}

.navbar a:hover {
    color: #cbffff;
    text-decoration: underline;
}

a {
    text-decoration: none;
}

.spread
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo img {
    height: 40px;
}

.navbar a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

.hero {
    height: 150vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    display: flex;
}

.hero img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.game-logo {
    position: fixed;
    top: 100px; /* Adjusts the logo 100px below the header */
    right: 2%; /* Aligns the logo to the right */
    transition: opacity 0.8s ease-in-out;
}

.game-logo img {
    height: 100px; /* Adjust the size of the game logo as needed */
}

h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

h1 {
    font-size: 56px;
    margin-bottom: 10px;
    margin-top: 0;
}

p {
    font-size: 24px;
    line-height: 1.5;
}

.title
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.simple {
    margin-top: 40px;
    max-width: 100%;
}

.double {
    display: flex;
    width: 100%;
    padding-top: 50px;
    margin-top: 40px;
}

.horizontal
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.double-color {
    display: flex;
    width: 100%;
    padding-top: 50px;
    margin-top: 40px;
    position: relative; /* Ensure the section is positioned relative */
}

.double-color::before {
    content: "";
    position: absolute;
    bottom: 20px;
    right: 0;
    height: 240px; /* Adjust the height as needed */
    width: 95%;
    background-color: #ECFFE0;
    z-index: -1; /* Ensure it is behind all other elements */
}

.double-keep {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 8%;
    margin-left: 8%;
}

.double-push {
    flex: 1;
    display: flex;
    align-items: center;
}

.double-push img {
    max-width: 100%;
    height: auto;
}

.list-container {
    text-align: center;
}

.list-container h2 {
    font-size: 2.5em;
    margin-bottom: 1em;
    color: #333;
}

.list-container-element {
    display: inline-block;
    margin: 1em;
    text-align: left;
    width: 300px;
    vertical-align: top; /* Ensure elements align at the top */
}


.list-container-element img {
    height: 300px; 
    margin-bottom: 1em;
}

.round 
{
    border-radius: 20%;
}

.list-container-element h2 {
    font-size: 1.2em;
    margin: 0.5em 0;
    color: #444;
}

.list-container-element p {
    font-size: 1em;
    color: #777;
}

@media screen and (max-aspect-ratio: 1.2) {
    .double {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 50px;        
        margin-top: 40px;
    }

    .double-color {
        flex-direction: column;
        width: 100%;
        padding-top: 50px;
        margin-top: 40px;
    }
    h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }
    
    h1 {
        font-size: 32px;
        margin-bottom: 10px;
        margin-top: 0;
    }
    
    p {
        font-size: 20px;
        line-height: 1.5;
    }

    #header-top p {
        font-size: 14px;
        line-height: 1.5;
    }
}
