body 
{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header 
{
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;    
}

nav ul 
{
    list-style: none;
    padding: 0;
}

nav ul li 
{
    display: inline;
    margin-right: 20px;
}

nav ul li a 
{
    text-decoration: none;
    color: white;
}

section 
{
    margin: 2rem auto;
    width: 80%;
}

footer 
{
    background-color: #333;
    color: white;
    text-align: center;
    bottom: 0;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
/* Existing styles... */

#logo 
{
    height: 200px; /* Adjust as needed */
    display: block;
    margin: 0 auto;
}

#social-links 
{
    text-align: center;
    margin-top: 1rem;
}

#social-links a 
{
    color: white;
    text-decoration: none;
    margin: 0 10px;
    padding: 5px 10px;
    background-color: #4b5c67; /* Discord dark theme color */
    border-radius: 5px;
    transition: background-color 0.3s;
}

#social-links a:hover 
{
    background-color: #7289da; /* Discord blurple */
}

#logo-text 
{
    font-family: 'Lilita One', sans-serif;
    letter-spacing: 2px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 60px;
}
