.resource {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    max-width: 200px;
    height: auto;
}

.resource img {
    max-width: 60%;
    height: auto;
    display: block;
    margin: 0 auto 10px auto;
    border-radius: 3px;
}

.resource p {
    font-size: 14px;
    color: #333;
    text-align: center;
}

main {
    min-height: 80vh;
}

header
{
    text-align: center;
    padding: 20px 0;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #f1f1f1;
    border-top: 1px solid #ddd;
    margin-top: 20px;
}

#resources-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}